html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

img { 
    max-width: 100%;
}

/*Banner*/

.banner {
    width: 100%;
    height: 500px;
    background-image: url("/Images/golf-course-banner.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
}


/*Nav Bar*/
nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
}

button {
    margin: 0 3rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}

/*Articles*/

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

article h2 {
    width: 75%;
    text-align: center;
    margin: 75px;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 3rem;
}

.box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(225,225,225,0.7);
    margin-bottom: 3.5rem;
}

.box img {
    width: 50%;
    padding-top: 5rem;
}

.box h3 {
    text-align: center;
    color: black;
    font-size: 2rem;
    margin: 2rem;
    text-decoration: underline;
}

.box p {
    width: 50%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
    .box {
        width: 75%;
    }
}

/*Course Section*/

#course-section {
    background-image: url("/Images/course-background.jpg");
    background-size: cover;/Images/course-background.jpg
}

#course-section h2 {
    background-color: rgba(26,137,229,0.3)
}

/*Membership Section*/

#membership-section {
    background-image: url("/Images/member-background.jpg");
    background-size: cover;
    background-position:center;
}

#membership-section h2 {
    background-color: rgba(27,93,83,0.3);
}

table {
    border: 3px solid black;
    text-align: left;
    border-collapse: collapse;
    margin: 5rem;
}

th, td {
    padding: 10px;
    border: 2px solid black;
}

th {
    background-color: rgba(255, 255, 255,0.7);
}

th[scope=col] {
    text-align: center;
}

td {
    text-align: center;
    background-color: rgba(0, 128, 0,0.7);
}

#red {
    background-color: rgba(255, 0, 0,0.7);
}

form {
    justify-self: center;
    margin: 5rem;
    background-color: rgba(255, 255, 255,0.7);
    padding: 1.5rem;
    line-height: 2;
}

form p {
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1;
}

/*Bar Section*/

#bar-grill-section {
    background-image: url("/Images/bar-background.jpg");
    background-size: cover;
}

/*Footer*/

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    color: rgba(0,0,0,0);
    text-decoration: none;
    background-color: white;
}

footer button {
    background-image: url("/Images/GitHub-logo.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

/*
#bar-grill-section,
#membership-section {
    display: none;
}